<div id="fool-news">
  <p class="h2">Motley Fool</p>
  <ul class="list-unstyled">
    <% fool_news.each do |data| %>
      <li>
        <h5 class="no-marg"><a href=<%= data[1] %> target="_blank"><%= data[0] %></a></h5>
        <p class="text-muted no-marg"><%= data[3] %></p>
        <p class="no-marg">
          <%= data[2] %>
        </p>
      </li>
    <% end %>
  </ul>
</div>