<div id="links">
  <table>
    <tr>
      <td><strong class="h3 text-muted">Resource Links</strong></td>
    </tr>
    <tr>
      <td>
        <ul>
          <li><a href="http://www.businessinsider.com/clusterstock" target="_blank">Business Insider</a></li>
          <li><a href="http://markets.businessinsider.com/" target="_blank">Market Insider</a></li>
          <li><a href="http://www.bloomberg.com/" target="_blank">Bloomberg</a></li>
          <li><a href="http://www.benzinga.com/" target="_blank">Benzinga</a></li>
          <li><a href="https://www.thestreet.com/" target="_blank">The Street</a></li>
          <li><a href="http://www.reuters.com/" target="_blank">Reuters</a></li>
          <li><a href="http://www.cnbc.com/" target="_blank">CNBC</a></li>
          <li><a href="https://www.google.com/finance?ei=1LUeWPjGBYaMmAHtmL-wDg" target="_blank">Google Finance</a></li>
          <li><a href="https://finance.yahoo.com/" target="_blank">Yahoo Finance</a></li>
        </ul>
      </td>
    </tr>
  </table>
</div>