<div id="movers">
  <p class="h5"><strong>Trends</strong></p>
  <br>
  <p class="h5">Price</p>
  <div class="table-responsive">
    <table id="price" class="table table-hover table-condensed">
      <tbody>

        <% google_price.each do |data| %>

        <% end %>

      </tbody>
    </table>
  </div>
</div>