// Resets
a {
  text-decoration: none;
  color: black;

  &:hover {
    color: #FF6600;
    text-decoration: none;
  }
}

// Utility
.no-pad { padding: 0px; }
.no-marg { margin: 0px; }
.red { color: red; }
.green { color: green; }
.orange { color: #FF6600; }

body {
  background-color: #31A7E6;

  .navbar {
    margin-bottom: 0px;
    border-radius: 0px;
  }


  section#market-index {
    background-color: #0E5061;
    color: #FFF;

    div { padding: 5px; }
  }

  #main {
    background-color: #EBEBEB;

    #market-stats {
      margin: 5px;

      div {
        #movers {

          #price, #volume, #mktcap {
            background-color: #FAFAFA;
            padding: 5px;
            margin: 15px 5px 15px 5px;
            box-shadow: 0 0 2px 0 #bbbbbb
          }
        }

        #sector, #world-markets, #currencies, #bonds, #links {
          background-color: #FAFAFA;
          padding: 5px;
          margin: 15px 5px 15px 5px;
          box-shadow: 0 0 2px 0 #bbbbbb;

          ul li { margin-bottom: 10px; } // for links
        }
      }
    }

    #market-news {

      #google-news, #fool-news, #street-news, #zinga-news, #insider-news {
        margin-bottom: 25px;

        p.h2 { margin-top: 0px; }
        padding: 5px;
        background-color: #FAFAFA;
        box-shadow: 0 0 2px 0 #bbbbbb;
        ul li { margin-bottom: 15px; }
      }

    }
  }


  footer {
    min-height: 50px;
    background-color: #E4E4E4;
    border-top: 1px solid #bbbbbb;
  }

}

